@model SGM.Web.Application.Models.Treinamento

@{
    ViewData["Title"] = "Modulo Gestão";
    ViewData["Subtitle"] = "Treinamento - Detalhes";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["subtitle"]</h4>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cronogrmana)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cronogrmana)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>   
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>                
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>*@
    <a asp-action="Index">Voltar para lista</a>
</div>