@model IEnumerable<SGM.Web.Application.Models.Treinamento>
@{
    ViewData["Title"] = "Modulo Gestão";
    ViewData["Subtitle"] = "Treinamentos";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["subtitle"]</h4>
<p>
    <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>
<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Objetivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>

    }
    </tbody>
</table>
