@model System.Collections.Generic.IEnumerable<SGM.Web.Application.Models.PoliticaPublica>

@{
    ViewData["Title"] = "Modulo Cidadão";
    ViewData["Subtitle"] = "Votar";
    Layout = "_LayoutOFF";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["subtitle"]</h4>

<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrevista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrcamentoPrevisto)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeResponsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrcamentoPrevisto)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>

    }
    </tbody>
</table>

