@model SGM.Web.Application.Models.Campanha

@{
    ViewData["Title"] = "Módulo Cidadão";
    ViewData["Subtitle"] = "Campanhas - Detalhes";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["subtitle"]</h4>


<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>