@model IEnumerable<SGM.Web.Application.Models.Campanha>

@{
    ViewData["Title"] = "Módulo Cidadão";
    ViewData["Subtitle"] = "Campanhas";
}

<h2>@ViewData["Title"]</h2>
<h4>@ViewData["subtitle"]</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>

<table class="table table-striped table-hover">
    <thead>
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a> 
            </td>            
        </tr>

    }
    </tbody>
</table>
